<?xml version="1.0"?>
<robot name="my_first_robot" xmlns:xacro="http://ros.org/wiki/xacro">

 <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link">
    <origin xyz="0.1 0 0.175" rpy="0 0 0"/>
 </joint>

 <link name="camera_link">
    <visual>
        <geometry>
            <box size="0.01 0.03 0.03"/>
        </geometry>
    </visual>
 </link>

 <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="optical_link">
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
 </joint>

 <link name="camera_link"></link>

 <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
 </gazebo>

</robot>